@use 'vars' as v;

$footer-padding-x: 40px;

.content {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $footer-padding-x;

    background-color: v.get-color(secondary);

    .icons {
        display: flex;
        gap: $footer-padding-x;
        font-size: v.get-font-size(medium);
        
        a {
            color: v.get-color(text);
        }
    }
}

// Update for mobile view
@media only screen and (max-width: 375px) {
    .content {
        height: 10vh;
        padding: 0 20px;
        font-size: v.get-font-size(x-small);

        .icons {
            gap: 20px;
        }
    }
}
