@use 'vars' as v;

// Variables for consistency
$header-padding-x: 30px;

.hero {
    position: relative;
    height: 90vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  
    .content {
      position: absolute;
      margin-bottom: 300px;
      z-index: 10; /* Ensure content is above the background image */
      padding: 0 $header-padding-x; /* Optional padding */

      button {
        margin-top: 20px;
      }
    }
  
    .image {
        width: 100%;
        position: absolute;

        img {
            width: 100%; 
            opacity: .07;
            object-fit: cover;
            display: block;
        }
    }

    fa-icon {
      display: flex;
      justify-content: center;

      padding-bottom: 30px;
      font-size: v.get-font-size(large);

      // Create a bouncing effect
      animation: bounce .75s;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;

      @keyframes bounce {
        from {
            transform: translate3d(0, 0, 0);
        }
        to {
            transform: translate3d(0, -15px, 0);
        }
      }
    }
}

@media only screen and (max-width: 400px) {
    .hero {
        height: 80vh;

        .content {
            margin: 0 0 300px 0 !important;
        }
    }

    h1 {
      // font-size: v.get-font-size(large) !important;
    }
    h2 {
      font-size: v.get-font-size() !important;
    }
}
