@use "sass:map";

// Colors
$woodsmoke-black: #0E1111; // (Black)
$shark-gray: #1A1F1F; // (Dark Gray)
$anti-flash-white: #F2F6F8; // (White)
$iron-gray: #dadddf; // (Light Gray)
$cloud-blue: #1E90FF; // (Blue)

$colors: (
    light: (
        primary: $anti-flash-white,
        secondary: $iron-gray,
        text: $woodsmoke-black,
        accent: $cloud-blue,
    ),
    dark: (
        primary: $woodsmoke-black,
        secondary: $shark-gray,
        text: $anti-flash-white,
        accent: $cloud-blue,
    )
);

// Function to get the color based on mode
@function get-color($key, $theme: dark) {
    @return map.get(map.get($colors, $theme), $key);
}

// Text styles
$font-size: (
    small: 1rem,
    medium: 1.5rem,
    large: 3rem,
    x-large: 4rem,
);

@function get-font-size($key: medium) {
    @return map.get($font-size, $key);
}
