@use 'vars' as v;

.header {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    text-align: center;
}

.projects {
    height: 85vh;
    padding: 0 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.curve {
    height: 10vh;
    position: relative;
    overflow: hidden;

    background-color: v.get-color(secondary);
}
.curve::before {
    border-radius: 100%;
    position: absolute;
    background: v.get-color(primary);
    right: -200px;
    left: -200px;
    top: -200px;
    content: '';
    bottom: 0;
}


// Horizontal Tablet
@media only screen and (max-width: 1024px) {
    .projects {
        margin-top: 50px;
        height: 225vh;
        flex-direction: column !important;
    }
}

// Vertical Tablet
@media only screen and (max-width: 768px) {
    .projects {
        height: 175vh;
    }
}

// Mobile Vertical
@media only screen and (max-width: 500px) {
    h2 {
        font-size: v.get-font-size(medium) !important;
    }

    .projects {
        margin-top: 0;
        height: 200vh;
    }
}