<div class="card">
    <div class="content">
        <div class="image">
            <div class="gradient"></div>
            <img src="coding.jpg" alt="Self-hosted CircleCI Runner">
        </div>
    
        <div class="info">
            <div class="title">Self-hosted CircleCI Runner</div>
            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            <div class="icons">
                <fa-icon [icon]="faGithub"></fa-icon>
            </div>
        </div>
    </div>
</div>

