@use 'vars' as v;

// Variables for consistency
$card-spacing: 20px;

.card {
    width: 400px;

    background-color: v.get-color(secondary);
    border-radius: 10px;

    .content {
        height: 100%;
        padding: $card-spacing;

        .image {
            height: 200px;
            position: relative;

            .gradient {
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, transparent, v.get-color(secondary));
                position: absolute;
                top: 0;
                left: 0;
            }
            
            img {
                width: 100%;
                height: 100%;
                border-radius: 10px 10px 0 0;
                object-fit: cover;
                display: block;
            }
        }

        .info {
            position: relative;
            height: 250px;
            
            .title {
                padding: $card-spacing 0;
            }
            
            .description {
                font-size: v.get-font-size(small);
            }
            
            .icons {
                position: absolute;
                bottom: 0;
                fa-icon {
                    font-size: 2rem;
                }
            }
        }
    }
}
