@use 'vars' as v;

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: v.get-color(primary);
    
    // Set default text related styles
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: v.get-font-size();
    font-weight: v.get-font-weight();
    color: v.get-color(text);
}

button {
    padding: 10px 20px;
    border: none;
    background-color: v.get-color(accent);
    color: v.get-color(text);
    font-size: v.get-font-size(medium);
    border-radius: 10px;
    cursor: pointer;
}

h1 {
    font-size: v.get-font-size(x-large);
    font-weight: v.get-font-weight(medium);
}
h2 {
    font-size: v.get-font-size(large);
    font-weight: v.get-font-weight(normal);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media only screen and (max-width: 375px) {
    h1 {
        font-size: v.get-font-size(large);
    }
    
    h2 {
        font-size: v.get-font-size(normal);
    }

    button {
        font-size: v.get-font-size(small);
    }
}
