/* You can add global styles to this file, and also import other style files */
@use 'vars' as v;

body {
    min-height: 100vh;
    margin: 0;

    background-color: v.get-color(primary, dark);
    
    // Set default text related styles
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: v.get-font-size();
    font-weight: normal;
    color: v.get-color(text, dark);
}
